$font-family: 'DotGothic16', sans-serif;
@use 'vuetify/settings' with (
  $body-font-family: $font-family,
  $heading-font-family: $font-family
);

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}